<h1>投稿が完了しました</h1>
<!--  <p>名前</p>-->
  <%#= @message.nickname %>
<br>
  <p>内容</p>
  <%= @message.text %>
<br>
  <p>場所</p>
  <%= @message.location %>
<br>
  <p>イメージ</p>
  <%= @message.image %>
<hr>
<a href="/messages">トップに戻る</a>
