<h1>投稿を削除しました</h1>
<hr>
<!--<p>名前：<%#= @message.name %></p>-->
<p>内容：<%= @message.text %></p>
<p>場所：<%= @message.location %></p>
<p>イメージ：<%= @message.image %></p>
<hr>
<a href="/messages" class="btn btn-info">トップへ戻る</a>
