<h1>投稿を変更しました。</h1>
<hr>
<!--<p>名前</p>-->
<%#= @message.nickname %>
<p>内容</p>
<%= @message.text %>
<p>場所</p>
<%= @message.location %>
<p>イメージ</p>
<%= @message.image %>
<hr>
<a href="/messages" class="btn btn-info">トップへ戻る</a>
